body {

  background-repeat: no-repeat;
  background-size: cover;
  margin: 10%;
}

footer {
  padding: 4rem 0;
  border-top: 3px solid #999999;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  color: white;
}

a{
	color: white;
}
a:visited{
	color: white;
}
a:hover{
	text-decoration: none;
	color: blue;
}